  .product-image {
    width: 20vw;
    height: 45vh;
  }
  .product-container {
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: inline-block;
    padding: 10px;
    background-color: #F2F3F4;
    margin: 10px;
  }
  .caption {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
  }
  .divider {
    background-color: lightgrey;
  }
  span {
    text-align: center;
  }