h2 {
    text-align: center;
}

.about-container {
    font-family: monospace;
}

.title {
    padding-top: 2vh;
}

.website-description {
    border: 1px solid lightgrey;
    margin: 5vw;
    margin-left: 1vw;
    margin-top: 4vh;
    margin-bottom: 18vh;
    font-size: 150%;
}
